gsnowpack
build
node_modules
.pnpm-store

loggie.log
pnpm-lock.yaml


.env.docker-bash-history
.zsh-history
.eng

profile/.cache
profile/.config
profile/.gitconfig
profile/.histfile
profile/.npm
profile/.vscode-server

.env
profile/.viminfo